<table>
<thead>
<tr>
<th>Codigo</th>
<th>Nombre</th>
<th>Descripci贸n</th>
<th>Costo</th>
<th>Precio de venta</th>
<th>Cantidad en stock</th>
</tr>
</thead>
<tbody>
<tr th:each="producto : ${productos}">
<td><span th:text="${producto.codigo}" /></td>
<td><span th:text="${producto.nombre}" /></td>
<td><span th:text="${producto.descripcion}" /></td>
<td><span th:text="${producto.costo}" /></td>
<td><span th:text="${producto.precioVenta}" /></td>
<td><span th:text="${producto.cantidad_en_stock}" /></td>
<td>
<button><a th:href="@{/productos/edit/{id}(id=${producto.idProducto})}">EDITAR</a></button>
<form th:action="@{/productos/delete/{id}(id=${producto.idProducto})}" method="post"
style="display:inline;">
<button type="submit">ELIMINAR</button>
</form>
<a th:href="@{/lotes/list/{productoId}(productoId=${producto.idProducto})}">Ver Lotes</a>
<a th:href="@{/lotes/form/{productoId}(productoId=${producto.idProducto})}">Nuevo Lote</a>
</td>
</tr>
</tbody>
</table>
<form action="#" th:action="@{/productos/}" th:object="${producto}" method="post">
<p>Codigo: <input type="text" maxlength="6" minlength="6" th:field="${producto.codigo}" /></p>
<p>Nombre: <input type="text" th:field="${producto.nombre}" /></p>
<p>Descripci贸n: <input type="text" th:field="${producto.descripcion}" /></p>
<p>Costo: <input type="number" min="1" th:field="${producto.costo}" /></p>
<p>Precio de venta: <input type="number" min="1" th:field="${producto.precioVenta}" /></p>
<p>Cantidad en stock: <input type="number" min="0" th:field="${producto.cantidad_en_stock}" /></p>
<input type="submit" />
</form>