<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Productos</title>
</head>

<body>
	<table>
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Costo</th>
				<th>Precio de venta</th>
				<th>Cantidad en stock</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto : ${productos}">
				<td><span th:text="${producto.codigo}" /></td>
				<td><span th:text="${producto.nombre}" /></td>
				<td><span th:text="${producto.descripcion}" /></td>
				<td><span th:text="${producto.costo}" /></td>
				<td><span th:text="${producto.precioVenta}" /></td>
				<td>
					<span th:if="${producto.cantidad_en_stock == 0}">Sin stock</span>
					<span
						th:if="${producto.cantidad_en_stock > 0 and producto.cantidad_en_stock <= producto.cantidadMinima}"
						style="color:red">Alerta de stock bajo (Stock: <span
							th:text="${producto.cantidad_en_stock}" />)</span>
					<span th:if="${producto.cantidad_en_stock > producto.cantidadMinima}"
						th:text="${producto.cantidad_en_stock}"></span>
				</td>
				<td>
					<button><a th:href="@{/productos/edit/{id}(id=${producto.idProducto})}">EDITAR</a></button>
					<form th:action="@{/productos/delete/{id}(id=${producto.idProducto})}" method="post"
						style="display:inline;">
						<button type="submit">ELIMINAR</button>
					</form>
					<a th:href="@{/lotes/list/{productoId}(productoId=${producto.idProducto})}">Ver Lotes</a>
					<span
						th:if="${producto.cantidad_en_stock == 0 or producto.cantidad_en_stock <= producto.cantidadMinima}">
						<a th:href="@{/lotes/form/{productoId}(productoId=${producto.idProducto})}">Reabastecer</a>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<button><a th:href="@{/productos/form}">NUEVO PRODUCTO</a></button>
</body>

</html>