<form th:action="@{/lotes/create}" th:object="${lote}" method="post">
	<div>
		<label>Cantidad: </label>
		<input type="number" min="0" th:field="*{cantidad}" />
		<p th:if="${#fields.hasErrors('cantidad')}" th:errors="{cantidad}">Cantidad tiene errores</p>
	</div>
	<div>
		<label>Fecha de Ingreso: </label>
		<input type="date" th:field="*{fechaIngreso}" />
		<p th:if="${#fields.hasErrors('fechaIngreso')}" th:errors="{fechaIngreso}">Fecha de ingreso tiene errores</p>
	</div>
	<div>
		<label>Proveedor: </label>
		<input type="text" th:field="*{proveedor}" />
		<p th:if="${#fields.hasErrors('proveedor')}" th:errors="{proveedor}">Proveedor tiene errores</p>
	</div>
	<div>
		<label>Precio de Compra: </label>
		<input type="number" step="1" th:field="*{precioCompra}" />
		<p th:if="${#fields.hasErrors('precioCompra')}" th:errors="{precioCompra}">Precio de compra tiene errores</p>
	</div>
	<input type="hidden" th:field="*{producto.idProducto}" />
	<div>
		<button type="submit">Guardar</button>
		<a href="/productos/">Cancelar</a>
	</div>
</form>